.mdc-image-list--masonry {
    display: block;
}
.mdc-image-list {
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
}
.masonry-image-list {
    column-count: 5;
    max-width: 900px;
}

.masonry-image-list .mdc-image-list__item {
    margin-bottom: 16px;
}

.imageGallery{
    padding-top: 40px;
}
@media (max-width: 780px){
    .masonry-image-list{
        column-count: 3;
        max-width: 780px;
    }
}
@media (max-width: 400px){
    .masonry-image-list{
        column-count: 2;
    }
}